VITE_ADMOB_IOS_INTERSTITIAL=ca-app-pub-3940256099942544/4411468910
VITE_ADMOB_ANDROID_INTERSTITIAL=ca-app-pub-3940256099942544/1033173712
VITE_ADMOB_REAL_IOS_INTERSTITIAL=
VITE_ADMOB_REAL_ANDROID_INTERSTITIAL=
VITE_RC_IOS_KEY=
VITE_RC_ANDROID_KEY=
VITE_IS_DEV=true
